/* Tooltip colors */
.dark .apexcharts-tooltip {
    color: #222 !important;
}
.dark .custom-pie-chart .apexcharts-tooltip {
    color: #fff !important;
}

/* Legend color */
.apexcharts-legend-text, .apexcharts-text, .apexcharts-yaxis-label {
    color: #222 !important;
    fill: #222 !important;
    transition: color 0.2s, fill 0.2s;
}
.dark .apexcharts-legend-text,
.dark .apexcharts-text,
.dark .apexcharts-yaxis-label {
    color: #fff !important;
    fill: #fff !important;
}

/* Border color */
.apexcharts-pie .apexcharts-series path,
.apexcharts-donut .apexcharts-series path {
    stroke: #ffffff !important;
}
.dark .apexcharts-pie .apexcharts-series path,
.dark .apexcharts-donut .apexcharts-series path {
    stroke: #000000 !important;
}

/* Line and tick colors*/
.apexcharts-inner line,
.apexcharts-xaxis-tick,
.apexcharts-xcrosshairs {
    stroke: #b6b6b6 !important;
}
.dark .apexcharts-inner line,
.dark .apexcharts-xaxis-tick,
.dark .apexcharts-xcrosshairs {
    stroke: #444 !important;
}
